@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Linkedin:</strong> <a href="https://www.linkedin.com/in/marcelo-mariath-13a638b0">Linkedin</a><br />
    <strong>GitHub:</strong> <a href="https://github.com/gedom2012">Git</a>
</address>
